body {
    font-size: 16px;
    display: block;
    color: #31326F;
    background-color: #DBF6E9;
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    line-height: 1.5em;
  }

h2 {
    text-align: center;
}

.margin {
    display: inline-block;
    margin: 10px;
}

.profile {
    background: url('materials/profile_picture.JPG') no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

.brief_description {
    display: block;
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.points {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
    display: inline-block;
}

.main_image1, .main_image2, .main_image3 {
    display: inline-block;
    margin-left: 33%;
    width: 230px;
    height: 317px;
    /* margin-bottom: 20px; */
}


.max {
    display: inline-block;
    width: 100%;
}

ul.slides {
    display: block;
}

.slides li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slides img{
    width: 115px;
    height: 163px;
    float: left;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.opacity,.hover-opacity:hover{
    opacity:0.60
}

.opacity-off,.hover-opacity-off:hover{
    opacity:1
}


@media (max-width:599px) {
    .slide_col4 {
        width: 40px;
        height: 60px;
        float: left;
        cursor: pointer;
        margin-right: 10px;
        margin-left: 15px;
        margin-bottom: 7px;
    }
}

video {
    display: block;
margin: 0 auto;
}